:root {
    --kc-ratio-video-bg: 1.77777777778;
    --kc-ratio-story-image-bg: 2.66666666667;
}

#section_1 {
    width: 100%;
    position: relative;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    min-height: 100vh;
}

#section_1 > .kc-video-background {
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: 100%;
    height: auto;

    /* Center the video */
    position: absolute;
    background-size: cover;
}

#section_1 > .kc-video-background > video {
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: 100%;

    /* trick */
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}


#section_1 > .kc-video-caption {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;

    top: 87%;
    transform: translateY(-50%);
}

#section_1 > .kc-logo-caption {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;

    top: 57%;
    transform: translateY(-50%);
}

#section_1 > .kc-logo-caption div {
    width: 35vw;
    margin: 0 auto;
}

#section_1 > .kc-logo-caption > div > img {
    width: 100%;
}

.kc-video-caption button:nth-child(2) {
    display: none;
}

.kc-section1-button {
    /*font-size: 1.2125vw !important;*/
    width: calc(100% - 80vw);
    margin: 0 auto;
    font-size: 1rem !important;
    font-weight: bold !important;
    padding: 1.3vw 5.2vw !important;
    border-radius: 0.5vw !important;
    transition: all ease 0.5s !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.kc-section1-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px){
    #section_1 {
        padding-top: 12vh;
        /*height: max-content !important;*/
        height: calc(100vw/var(--kc-ratio-video-bg) + 12vh + 16vw) !important;
        min-height: unset !important;
    }

    #section_1 > .kc-video-caption {

        /* trick */
        /* calc(100vw/var(--kc-ratio-video-bg): height of video background */
        /* 2vh                                : additional space between element */
        /* 12vh                               : padding of parent element for device screen */
        top: calc(100vw/var(--kc-ratio-video-bg) + 2vh + 12vh + 5vh );

        background-image: url("../assets/img/cloud.png");
        background-size: 100% 95%;
        background-position: top;
        background-repeat: no-repeat;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 8vw;
        padding-bottom: 8vw;
        display: flex;
        flex-direction: column;
    }

    #section_1 > .kc-video-background > video {
        height: unset;
    }

    .kc-section1-button {
        width: calc(100% - 64vw);
        margin: 0 0;
    }
    .kc-video-caption button {
        margin: 1vw 0 !important;
    }

    .kc-video-caption button:nth-child(2) {
        display: inline-block;
    }

    #section_1 > .kc-logo-caption {
        display: none;
    }
}