#section_1 {
    position: relative;
    height: 100vh !important;
    width: 100%;
    background-size: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#section_1 > .kc-video-background {
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: 100%;
    height: auto;

    /* Center the video */
    position: absolute;
    background-size: cover;
}

#section_1 > .kc-video-background > video {
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: 100%;

    /* trick */
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}


#section_1 > .kc-video-caption {
    position: absolute;
    width: 100%;
    text-align: center;

    top: 87%;
    transform: translateY(-50%);
}

.kc-section1-button {
    font-size: 1.2125vw !important;
    font-weight: bold !important;
    padding: 1.3vw 5.2vw !important;
    border-radius: 0.5vw !important;
    transition: all ease 0.5s !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.kc-section1-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px){
    #section_1 {
        padding-top: 12vh;
    }

    #section_1 > .kc-video-caption {
        top: unset;
    }
}